:root {
    --main-bg-color:        #fcfcfc;
    --main-dark-bg-color:   #3c3131;

    --txt-inverse-color:    white;
    --txt-dark-color:       #3c3131;
    --text-grey :           #939393;

    --guide-line-bg:          #e8e5dd
}